body {
  font-family: "Montserrat", sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 15px auto;
}
.weather-app {
  padding: 15px;
  border: 1px solid #e8eaef;
}

h1 {
  color: rosybrown;
}
h2 {
  font-size: 30px;
}

.actualTemp {
  font-size: 40px;
}
.units {
  font-size: 15px;
  font-style: italic;
  position: relative;
  top: -15px;
}
.units .active {
  color: black;

  text-decoration: none;
}
.additionalTemp {
  list-style: none;
}
#description::first-letter {
  text-transform: capitalize;
}

.additionalInfo {
  list-style: none;
}
